@font-face {
    font-family: 'Product';
    src: url('fonts/ProductSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Product Mono';
    src: url('fonts/ProductSansMono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
