#thumbnails {
    display: block;
    padding: 0;
    margin: 0;
}

.thumbnail {
    margin: 15px;
    border-radius: 25px;
    background-color: rgb(236, 236, 236);
}

.thumbnail img {
    width: 100%;
    border-radius: 25px;
}

.thumbnail-text {
    padding: 20px;
    height: fit-content;
}

@media only screen and (min-width: 1024px) {
    #thumbnails {
        padding: 15px;
        margin-right: auto;    
        margin-left: auto;
        column-count: 3;
        column-gap: 1em;
    }

    .thumbnail {
        margin: 15px;
        width: calc(calc(100vw / 3) - 51px);
        display: inline-block;
        margin: 0 0 1em;
        width: 100%;
    }
}