#thumbnails {
    display: block;
    padding: 0;
    margin: 0;
}

.thumbnail {
    margin: 15px;
    border-radius: 25px;
    background-color: rgb(236, 236, 236);
}

.thumbnail img {
    width: 100%;
    border-radius: 25px;
}

.thumbnail-text {
    padding: 20px;
}

@media only screen and (min-width: 1024px) {
    #thumbnails {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 30px;
        /* Spazio tra le miniature */
        padding: 15px;
        margin: 0;
    }

    .thumbnail {
        margin: 0;
    }
}