@font-face {
     font-family: 'Product Regular';
     src: url('https://raw.githubusercontent.com/morghipala/poipensaquelchevuoi/main/fonts/ProductSans-Regular.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}
 @font-face {
     font-family: 'Product Black';
     src: url('https://raw.githubusercontent.com/morghipala/poipensaquelchevuoi/main/fonts/ProductSans-Black.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}
 @font-face {
     font-family: 'Product BlackItalic';
     src: url('https://raw.githubusercontent.com/morghipala/poipensaquelchevuoi/main/fonts/ProductSans-BlackItalic.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}
 @font-face {
     font-family: 'Product Bold';
     src: url('https://raw.githubusercontent.com/morghipala/poipensaquelchevuoi/main/fonts/ProductSans-Bold.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}
 @font-face {
     font-family: 'Product BoldItalic';
     src: url('https://raw.githubusercontent.com/morghipala/poipensaquelchevuoi/main/fonts/ProductSans-BoldItalic.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}
 @font-face {
     font-family: 'Product Italic';
     src: url('https://raw.githubusercontent.com/morghipala/poipensaquelchevuoi/main/fonts/ProductSans-Italic.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}
 @font-face {
     font-family: 'Product Light';
     src: url('https://raw.githubusercontent.com/morghipala/poipensaquelchevuoi/main/fonts/ProductSans-Light.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}
 @font-face {
     font-family: 'Product LightItalic';
     src: url('https://raw.githubusercontent.com/morghipala/poipensaquelchevuoi/main/fonts/ProductSans-LightItalic.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}
 @font-face {
     font-family: 'Product Medium';
     src: url('https://raw.githubusercontent.com/morghipala/poipensaquelchevuoi/main/fonts/ProductSans-Medium.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}
 @font-face {
     font-family: 'Product MediumItalic';
     src: url('https://raw.githubusercontent.com/morghipala/poipensaquelchevuoi/main/fonts/ProductSans-MediumItalic.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}
 @font-face {
     font-family: 'Product Thin';
     src: url('https://raw.githubusercontent.com/morghipala/poipensaquelchevuoi/main/fonts/ProductSans-Thin.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}
 @font-face {
     font-family: 'Product ThinItalic';
     src: url('https://raw.githubusercontent.com/morghipala/poipensaquelchevuoi/main/fonts/ProductSans-ThinItalic.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}
 
