body {
    font-family: Arial;
}

#logo {
    display: block;
    width: 600px;
    margin: auto;
}

@media only screen and (max-width: 614px) {
    #logo {
        width: calc(100vw - 15px);
    }
}

.thumbnails {
    display: block;
    padding: 0;
    margin: 0;
}

.thumbnail {
    margin: 15px;
}

.thumbnail img {
    width: 100%;
}

@media only screen and (min-width: 1024px) {
    .thumbnails {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 30px;
        /* Spazio tra le miniature */
        padding: 15px;
        margin: 0;
    }

    .thumbnail {
        margin: 0;
    }
}