#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 250px;
    right: 0;
    border-radius: 25px 0 0 25px;
    width: calc(100vw - 250px);
    z-index: 0;
}

body {
    background-color: rgb(255, 255, 255);
}

@media only screen and (max-width: 640px) {
    #map {
        top: 0;
        bottom: 40px;
        left: 0;
        right: 0;
        border-radius: 0 0 25px 25px;
        width: 100%;
    }
}

.maptiler-ctrl .input-group.svelte-1r7dvt7.svelte-1r7dvt7,
.mapboxgl-ctrl-group,
.maplibregl-ctrl-group,
.maptiler-ctrl form.svelte-1r7dvt7.svelte-1r7dvt7,
.maptiler-ctrl form.svelte-1r7dvt7.svelte-1r7dvt7:focus-within,
.maptiler-ctrl form.svelte-1r7dvt7.svelte-1r7dvt7:hover,
.svelte-1r7dvt7 {
    border-radius: 25px;
}

.maplibregl-ctrl.maplibregl-ctrl-attrib {
    border-radius: 25px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.maplibregl-ctrl button:not(:disabled):hover {
    background-color: rgba(0, 0, 0, 0);
}

.suggest {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px 10px;
    border-radius: 15px;
}

.location {
    color: #747474;
}

#address {
    margin: 10px;
}

#search * {
    z-index: 100;
}
